/* HEADER */

header {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
}

.header-droit{
    display: initial;
}

.boutton-inscrire{
    color: #0065FC;
    font-weight: bold;
    margin-right: 20px;
    float: right;
    margin-top: 10px;
}

header img{
    margin-left: 20px;
}

header ul{
    display: flex;
    padding-left: 0px;
    text-align: center;
    
}

header ul li{
    border-bottom: 2px solid #F2F2F2;
    padding-bottom: 20px;
    width: 50vw;
    list-style-type: none;

}

header li:hover{
    border-bottom: 2px solid #0065FC ; 
    padding-bottom: 20px;
}

header li:hover a{
    color: #0065FC;
}

.titre-principal{
    margin-bottom: 25px;
}

/* BODY */

main{
    max-width: 1440px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

h3{
    margin-left: 30px;
}

h5{
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}


a{
    text-decoration: none;
    color: black;

}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;

}

/* BARRE DE RECHERCHE */

#barre-recherche{
    border: solid #F2F2F1 2px;
    border-radius: 15px;
    display: inline-block;
    border-right: none;

}

#icone-map{
    padding: 20px;
    background-color:  #F2F2F2;
    border-top-left-radius:  10px;
    border-bottom-left-radius: 10px;
}

input{
    border-style: none;
    padding-left: 15px;
    font-weight: bold;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    width: 175px;
    outline: none;
}

#barre-recherche button{
    padding: 20px;
    background-color: #0065FC;
    color: white;
    font-size: 16px;
    font-family: 'Font Awesome 5 Free';
    border-radius: 15px;
    border: 0;
    outline: none;
}


#barre-recherche button span{
    font-size: 0;
}

/* FILTRE DE RECHERCHE */

#haut-page{
    margin: 30px;
}

#filtre h4{
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.groupe-filtre{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 12px;
}

.groupe-filtre div{
    font-size: 14px;
    font-weight: bold;
    border:#F2F2F2 solid;
    border-radius: 50px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-right: 19px;
    padding-top: 11px;
    padding-bottom: 10px;
    border-left: none;
}
.groupe-filtre div:hover{
        color: #0065FC;
        background-color: #deebff;
}

.icone-filtre{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #0065FC;
    background: #deebff;
    padding: 13px;
    border-radius: 50%;
    margin-right: 10px;
}

.eco::before{content: "\f53a";}
.fam::before{content: "\f1ae";}
.rom::before{content: "\f004";}
.ani::before{content: "\f6d3";}

/* INFORMATION */

.information{
    text-indent: -38px;
    padding-left: 35px;
}

.information::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #0065FC;
    content: '\f129';
    border-radius: 100px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.2em 0.5em;
    margin-right: 12px;
}

/* HEBERGEMENT-MARSEILLE */

#conteneur-hebergement{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}

#conteneur-hebergement-ville{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.grand-cadre-hebergement{
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 3px 6px #aaa;
    padding: 4px;
    background-color: white;
 }

.petit-cadre-hebergement{
    line-height: 150%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
 }

 #conteneur-hebergement-ville img{
    width: 320px;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    object-fit: cover;
}

.afficher-plus{
    margin-left: 30px;
}

/* HEBERGEMENT-POPULAIRE */

.titre-populaire{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.titre-populaire i{
    float: right;
}

.panneau-hebergement-populaire{
    background-color:  #F2F2F2;
    width: 100%;
}

.panneau-hebergement-populaire h3 i{
    float: right;
    padding-right: 30px;
}

#conteneur-hebergement-populaire{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#conteneur-hebergement-populaire img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 130px;
	height: 150px;
    float: left;
    object-fit: cover;
}

.grand-cadre-pop{
    padding: 5px;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 40px;
    width: 320px;
    box-shadow: 0px 3px 6px #aaa;
}

.petit-cadre-pop{
    padding-left: 20px;
    overflow: hidden;

}

.info-pop{
    padding-bottom: 25px;
    overflow: hidden;

}

/* ACTIVITES */

#conteneur-activites-v2{
    display: none;
}

.panneau-activite {
    margin-top:30px;
    margin-bottom: 30px;
}

#conteneur-activites{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#conteneur-activites h4{
    padding-left: 15px;
    margin: 15px;
}

.cadre-activites{
    box-shadow: 0px 3px 6px #aaa;
    border-radius: 20px;
    margin-bottom: 30px;

}
.img-activites{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 320px;
    height: 120px;
    object-fit: cover;
}


/* FOOTER */

footer{
    background-color: #F2F2F2;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 40px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer h4{
    margin: 0;
}

footer ul{
    padding-left: 0px;
    list-style-type: none;
}

footer ul li{
    padding-bottom: 10px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 100px) and (max-width: 374px){
    #icone-map{
        display: none;
    }

    input{
        width: 150px;

    }

    .petit-cadre-pop{
        padding-left: 5px;
    }

    .grand-cadre-pop{
        width: 289px;
        padding: 0px;
    }

    #conteneur-hebergement-ville img{
        width: 280px;
        height: 110px;
    }

    .grand-cadre-hebergement{
        padding: 0px;
    }

    .img-activites{
        width: 280px;
        height: 110px;
    }
}

@media screen and (min-width: 640px){
    footer{
        display: flex;
        justify-content: space-around;
        padding-right: 10px;

    }

    .footer{
        padding-left: 0px;
    }

    #conteneur-hebergement-ville img{
        width: 260px;
    }

    .img-activites{
        width: 280px;
    }

    .cadre-activites{
        margin: 10px;
    }

    #conteneur-hebergement{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .afficher-plus{
        margin-left: 40px;
        margin-bottom: 20px;
    }

    .afficher-plus{
        margin-bottom: 20px;
    }

    .grand-cadre-pop{
        margin: 20px;
    }

}

@media screen and (min-width: 720px){

    .grand-cadre-pop{
        margin: 20px;
        margin-bottom: 50px;
    }

    header ul li{
        right: 30px;
        
    }

    header{
        display: block;
    }

    .grand-cadre-hebergement{
        margin: 10px;
    }

    #conteneur-hebergement-ville{
        margin-left: 25px;
        margin-right: 25px;
    }

    #haut-page{
        margin-left: 40px;
        margin-right: 40px;
    }

    i.fas.fa-search{
        display: none;
    }

    #barre-recherche button{
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    

    input{
        width: 200px;
    }

    #conteneur-activites{
        margin-left: 25px;
        margin-right: 25px;
    }

    #barre-recherche button span{
        font-size: inherit;
        font-family: 'Raleway', sans-serif;
    }

    #filtre{
        display: flex;
        align-items: baseline;
    }

    #filtre h4 {
        margin: 0;
        margin-right: 20px;
        margin-top: 40px;
    }

    .afficher-plus{
        margin-top: 20px;
    }

    .panneau-hebergement-ville{
        margin-bottom: 30px;
    }

}

@media screen and (min-width: 974px){

    header img{
        margin-left: 40px;
        padding-top: 20px;
    }

    header{
        display: flex;
        margin-top: 0px;
    }

    header a{
        order: 3;
        padding-right: 5%;
        margin-right: 0;
    }

    .boutton-inscrire{
        padding-left: 40px;
        padding-right: 3%;
        padding-top: 40px;
        margin-top: 0;
    }

    header ul{
        order: 2;
        margin: 0px;
    }

    header ul li{
        width: auto;
        padding: 40px;
        padding-bottom: 20px;
        text-align: center;
        border-bottom: none;
    }

    header ul li:hover{
        border-top: solid #0065FC 2px;
        border-bottom: none;
    }

    footer{
        padding-right: 140px;
    }
    

}

@media screen and (min-width: 1110px){

    #conteneur-activites-v2 h4{
        padding-left: 20px;
    }

    #conteneur-activites-v2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #conteneur-activites{
        display: none;
    }

    .petit-cadre-activites{
        display: grid;
    }

    .img-activites{
        width: 250px;
        height: 107px;
    }

    .img-vert{
        height: 300px;
    }

    #conteneur-hebergement-populaire{
        flex-direction: column;
        padding-bottom: 20px;
    }

    .panneau-hebergement-ville{
        width: 61%;
        background-color: #F2F2F2;
        border-radius: 20px;
        margin-bottom: 0px;

    }

    #conteneur-hebergement{
        justify-content: space-between;
        margin: 40px 15px;
    }

    #conteneur-hebergement-ville{
        margin-left: 0px;
        margin-right: 0px;
    }

    .panneau-hebergement-populaire{
        border-radius: 20px;
        width: auto;
    }

    .grand-cadre-pop{
        margin-bottom: 63px;
    }

}

@media screen and (min-width: 1440px){
    
    #conteneur-hebergement{
        justify-content: space-between;
        margin: 40px 15px;
    }

    #conteneur-hebergement-ville{
        margin-left: 0px;
        margin-right: 0px;
    }

    .panneau-hebergement-ville{
        width: 66%;
        background-color: #F2F2F2;
        border-radius: 20px;
        margin-bottom: 0px;

    }

    .panneau-hebergement h3{
        margin-left: 10px;
    }

    #conteneur-hebergement-populaire{
        flex-direction: column;
        padding-bottom: 20px;
    }

    .panneau-hebergement-populaire{
        border-radius: 20px;
        width: auto;
    }

    .grand-cadre-pop{
        margin-bottom: 20px;
    }

    .img-activites{
        width: 320px;
        height: 127px;
    }

    .img-vert{
        height: 340px;
    }

    .grand-cadre-hebergement{
        margin: 20px;
        
    }

    #haut-page{
        margin-left: 30px;

    }

    #conteneur-hebergement-ville img{
        height: 130px;
    }

    footer{
        justify-content: space-between;
    }

    .afficher-plus{
        margin-top: 50px;
    }


    header img{
        margin-left: 30px;
    }

}