a{
    text-decoration: none;
    color: black;
}

#conteneur-navigation{
    display: flex;

}

#navigation ul li:hover{
    border-top: 2px solid #0065FC ; 
    color: #0065FC;
    padding-top: 32px;
}

header{
    display: flex;
    padding-top: 10px;
    margin-left: 20px;
}

header title{
    padding-bottom: 15px;
    padding-left: 15px;
}

#conteneur-navigation ul{
    list-style-type: none;
    
}

#boutton-inscrire{
    color:  #0065FC;
    font-weight: bold;
    padding-top: 15px;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

main{

}

#titre{
    padding-left: 15px;
    padding-right: 20px
}

/* BARRE DE RECHERCHE */

#barre-recherche{
    display: flex;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 20px
}

#filtre a{
    text-decoration: none;
    color: black;
    margin: 5px;
}

input{
    border-style: solid;
    box-shadow: 0em;
    padding: 13px;
    text-align: left;
    border-right: none;
    border-left: none;
    border-color: #F2F2F2;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

#icone-map{
    padding: 15px;
    background-color:  #F2F2F2;
    border-top-left-radius:  10px;
    border-bottom-left-radius: 10px;
}

#barre-recherche button{
    font-weight: 900;
    padding: 15px;
    background-color: #0065FC;
    content: '\f002';
    color: white;
    font-size: 14px;
    font-family: 'Font Awesome 5 Free';
    border-top-right-radius:  10px;
    border-bottom-right-radius: 10px;
    border: 0;
}

/* FILTRE DE RECHERCHE */

#filtre{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

#filtre h4{
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-right: 150px;
}

#filtre a{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: transparent;
    border:#F2F2F2 solid;
    border-radius: 50px;
    margin:10px;
    padding-left:0px;
    padding-right: 19px;
    padding-top: 11px;
    padding-bottom: 10px;

}

#eco::before{
    font-family: 'Font Awesome 5 Free';
	content: "\f53a";
    font-weight: 900;
    color: #0065FC;
    background: #deebff;
    padding: 13px;
    border-radius: 50%;

}

#fam::before{
    font-family: 'Font Awesome 5 Free';
	content: "\f1ae";
    font-weight: 900;
    color: #0065FC;
    background: #deebff;
    padding: 13px;
    width: 20px;
    border-radius: 50%;
}

#rom::before{
    font-family: 'Font Awesome 5 Free';
	content: "\f004";
    font-weight: 900;
    color: #0065FC;
    background: #deebff;
    padding: 13px;
    border-radius: 50%;
}

#ani::before{
    font-family: 'Font Awesome 5 Free';
	content: "\f6d3";
    font-weight: 900;
    color: #0065FC;
    background: #deebff;
    padding: 13px;
    border-radius: 50%;
}

/* INFORMATION */

p{
    padding-right: 20px;
    padding-left: 20px;

}

p i{
    color: #0065FC;
    display: inline-block;
    border-radius: 100px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.2em 0.5em;
    margin-right: 12px;

}

/*HEBERGEMENT-MARSEILLE */

#conteneur-hebergement{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
}

.panneau-hebergement-ville{
    width: 800px;
    padding-top: 0px;
    padding: 20px;
    
}

#navigation{
    display: inline;
}

.panneau-hebergement-ville h3{
    padding-left: 10px;
    
}

#conteneur-hebergement-ville{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

#conteneur-hebergement-ville div{
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 3px 6px #aaa;
 }

 #conteneur-hebergement-ville img{
    width: 320px;
	height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
}

/* HEBERGEMENT-POPULAIRE */

.panneau-hebergement-populaire{
    background-color:  #F2F2F2;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 15px;
}

.panneau-hebergement-populaire h3{
    padding-left: 30px;
}

.panneau-hebergement-populaire h3 i{
    float: right;
    padding-right: 30px;
}

#conteneur-hebergement-populaire{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#conteneur-hebergement-populaire div{
    padding: 6px;
    background-color: white;
    border-radius: 26px;
    margin-bottom: 40px;
    width: 320px;
    box-shadow: 0px 3px 6px #aaa;
}

#conteneur-hebergement-populaire img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 134px;
	height: 126px;
    float: left;
    max-width: 100%;
}

/* ACTIVITES */

.panneau-activite {
    margin-top:30px;
    margin-bottom: 30px;
}

.panneau-activite h3{
    margin-bottom: 15px;
    padding-left: 30px;
}

#conteneur-activites{
    display: flex;
    flex-flow: wrap;
    justify-content: center;

}

#conteneur-activites h4{
    padding-left: 15px;
    margin: 15px;
}

#conteneur-activites div{
    
    margin: 15px;
    box-shadow: 0px 3px 6px #aaa;
    border-radius: 20px;

}
#conteneur-activites img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 330px;
    height: 120px;
}


/* FOOTER */

footer{
    background-color: #F2F2F2;
    padding-top: 45px;
    padding-bottom: 40px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer h4{
    padding-left: 40px;
    margin: 0;
}

footer ul{
    list-style-type: none;
}

footer ul li{
    padding-bottom: 10px;
}

#footer-hebergement{
    padding-top: 20px;
}

#footer-assistance{
    padding-top: 20px;
}