a{
    text-decoration: none;
}

#navigation{
    color:  #0065FC;
}

#conteneur-navigation{
    position: absolute;
    display: flex;
    top: 5px;
    right: 10px;
}

#navigation ul li:hover{
    border-top: 2px solid #0065FC ; 
    color: #0065FC;
    padding-top: 16px;
}

header{
    display: flex;
    font-size: 0.9rem;
}

#conteneur-navigation ul{
    list-style-type: none;
    
}

#conteneur-navigation ul li{
    display: inline;
    padding-inline: 20px;
    
}

#boutton-inscrire{
    color:  #0065FC;
    padding-inline: 20px;
    margin-top: 12px;
    font-weight: bold;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

/* BARRE DE RECHERCHE */

#barre-recherche{
    display: flex;
}


input{
    border-style: solid;
    box-shadow: 0em;
    padding: 13px;
    text-align: center;
    border-right: none;
    border-left: none;
    border-color: #F2F2F2;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

#icone-map{
    padding: 15px;
    background-color:  #F2F2F2;
    border-top-left-radius:  20px;
    border-bottom-left-radius: 20px;
}

#barre-recherche button{
    padding: 15px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    border-top-right-radius:  10px;
    border-bottom-right-radius: 10px;
    border: 0;
}

/* FILTRE DE RECHERCHE */

#filtre{
    display: flex;
    flex-wrap: wrap;
}

#filtre div{
    border-radius: 60px;
    margin-right: 15px;
    border: solid black 2px;
}

#filtre div i{
    color: #0065FC;
    background-color: #deebff;
    border-radius: 100px;
    box-shadow: 0px 0px 2px #888;
}

#filtre div button{
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    border: 0;
}

aside :nth-child(1) i{
    color: #0065FC;
    display: inline-block;
    border-radius: 100px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.2em 0.5em;
    margin-right: 12px;

}

#conteneur-hebergement{
    display: flex;
    flex-wrap: wrap;
}

.panneau-hebergement-ville{
    width: 870px;
    background-color:  #F2F2F2;
    margin-right: 3.50%;
    margin-bottom: 3.50%;
    border-radius: 30px;
}

.panneau-hebergement-populaire{
    width: 420px;
    background-color:  #F2F2F2;
    border-radius: 30px;
}

#conteneur-hebergement div h3{
    padding-left: 20px;
}

#conteneur-hebergement-ville{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}


#conteneur-hebergement-populaire{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

}

#conteneur-hebergement-ville div{
   padding: 20px;
}

#conteneur-hebergement-populaire div{
    padding: 20px;
}

#conteneur-hebergement-populaire img{
    width: 225px;
    border-radius: 5px;
}
#conteneur-hebergement-ville img{
    width: 225px;
    border-radius: 5px;
}

#conteneur-activites{
    justify-content: center;
    display: flex;
    flex-flow: wrap;
}

#conteneur-activites div{
    width: 250px;
}
#conteneur-activites div img{
    width: 200px;
}
footer{
    display: flex;
    background-color: #F2F2F2;
    justify-content: flex-start;

}

footer h4{
    margin-bottom: 30px;
}

footer ul{
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

footer ul li{
    margin-bottom: 20px;
}

#footer-a-propos{
    margin-top: 25px;
    margin-left: 3.47%;
}

#footer-hebergement{
    margin-top: 25px;
    margin-left: 15.97%;
}

#footer-assistance{
    margin-top: 25px;
    margin-left: 20.35%;
}